Link to data: https://www.kaggle.com/sidharth178/car-prices-dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/train.csv")
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

### Dropping columns that are not relevant: just ID

In [6]:
df.drop('ID',axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  object
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  int64
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  object
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 2.5+ MB

 ### Fix columns:
 - Levy is an object?
 - Make leather interior a int(1=Yes,0= No)
 - Make engine volume a float
 - Make mileage a int
 - Cylinders should be int
 - Make drive wheels int
 - doors are also int(only to 4 doors)

In [18]:
# Levy is an object: some rows have "-" as Levy which means its missing. 
len(df[df.Levy == '-'])/len(df)

0.3024899932421895

#### 30 % of the data is missing for levy. Lets see if we have the same car

In [39]:
df_temp = df[df.Levy != "-"]

In [43]:
df_temp.Levy = pd.to_numeric(df_temp.Levy)

/home/sebair/.local/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [47]:
df_temp.groupby(['Manufacturer','Model']).count()

                           Price  Levy  Prod. year  Category  \
Manufacturer Model
ACURA        MDX               3     3           3         3
             RDX               3     3           3         3
             TL                2     2           2         2
             TLX               2     2           2         2
             TSX               4     4           4         4
...                          ...   ...         ...       ...
VOLKSWAGEN   Vento             2     2           2         2
VOLVO        S60               1     1           1         1
             S70               1     1           1         1
             XC90              2     2           2         2
             XC90 3.2 AWD      1     1           1         1

                           Leather interior  Fuel type  Engine volume  \
Manufacturer Model
ACURA        MDX                          3          3              3
             RDX                          3          3              3
             TL                           2          2              2
             TLX                          2          2              2
             TSX                          4          4              4
...                                     ...        ...            ...
VOLKSWAGEN   Vento                        2          2              2
VOLVO        S60                          1          1              1
             S70                          1          1              1
             XC90                         2          2              2
             XC90 3.2 AWD                 1          1              1

                           Mileage  Cylinders  Gear box type  Drive wheels  \
Manufacturer Model
ACURA        MDX                 3          3              3             3
             RDX                 3          3              3             3
             TL                  2          2              2             2
             TLX                 2          2              2             2
             TSX                 4          4              4             4
...                            ...        ...            ...           ...
VOLKSWAGEN   Vento               2          2              2             2
VOLVO        S60                 1          1              1             1
             S70                 1          1              1             1
             XC90                2          2              2             2
             XC90 3.2 AWD        1          1              1             1

                           Doors  Wheel  Color  Airbags
Manufacturer Model
ACURA        MDX               3      3      3        3
             RDX               3      3      3        3
             TL                2      2      2        2
             TLX               2      2      2        2
             TSX               4      4      4        4
...                          ...    ...    ...      ...
VOLKSWAGEN   Vento             2      2      2        2
VOLVO        S60               1      1      1        1
             S70               1      1      1        1
             XC90              2      2      2        2
             XC90 3.2 AWD      1      1      1        1

[796 rows x 15 columns]